.avatars-container {
  display: flex;
  gap: 0.75rem;
  background-color: rgb(0, 134, 18);
  border: 0.75rem solid rgb(0, 99, 13);
  box-sizing: border-box;
  border-radius: 100%;
  padding: 0.75rem;
  position: absolute;
  left: -2rem;
  bottom: -1rem;
  width: 20rem;
  height: 20rem;
}
